* {
    transition: 300ms;
}

body {
    background-color: #404040;
    color: rgba(82, 136, 27, 0.8);
    text-align: center;
    margin: 0 auto;
    width: 80%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 3em;
    filter: drop-shadow(0 2px 2px black);
}

p {
    font-size: 1.5em;
    color: white;
    filter: drop-shadow(0 2px 2px black);
}

textarea {
    font-size: 1.5em;
    width: 100%;
    height: 400px;
    border-radius: 8px;
    border: black 2px solid;
    filter: drop-shadow(0 2px 2px rgba(82, 136, 27, 0.8));
}

input {
    font-size: 1.5em;
    border: black 2px solid;
    height: 100%;
    height: 50px;
    border-radius: 8px;
    width: 100%;
    filter: drop-shadow(0 2px 2px rgba(82, 136, 27, 0.8));
}

form > * {
    text-align: center;
    margin: 15px 0;
}

button {
    padding: 15px 0;
    font-size: 1.5em;
    color: white;
    border-radius: 8px;
    background-color: rgba(82, 136, 27, 0.8);
    border: black 2px solid;
    width: 250px;
}

button:hover {
    cursor: pointer;
    width: 255px;
    background-color: white;
    border: rgba(82, 136, 27, 0.8) 2px solid;
    color: black;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: rgba(82, 136, 27, 0.8);
}

img {
    max-width: 10%;
}

img:hover {
    filter: drop-shadow(0 0 2px white);
    max-width: 11%;
}