* {
    transition: 300ms;
}

body {
    background-color: #f0f0f0;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#titulo {
    font-size: 40px;
    background-color: #007BFF;
    color: white;
    padding: 50px 0;
    box-shadow: 2px 4px 4px rgb(0 0 0 / 25%);
}

header nav {
    background-color: rgba(112, 156, 67, 0.8);
    padding: 30px 0;
    box-shadow: 2px 4px 4px rgb(0 0 0 / 25%);
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
}

nav a {
    font-size: 20px;
    text-decoration: none;
    color: #000000;
}

nav a:hover {
    color: #007BFF;
}

footer {
    background-color: rgba(112, 156, 67, 0.8);
    font-size: 20px;
    padding: 30px 0;
    width: 100%;
}

footer a {
    text-decoration: none;
}

footer p {
    margin: 20px
}

#convertir {
    background-color: white;
    border: 1px solid #7a7a7a;
    border-radius: 5px;
    padding: 10px;
    margin: o;
    text-align: center;
    box-shadow: 2px 4px 4px rgb(0 0 0 / 25%);
}

#formulario label,
#formulario input,
#formulario button,
#resultado label,
#producto {
    display: inline-block;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

main p {
    margin: 50px 0;
    font-size: 20px;
    text-align: justify;
    color: rgb(112, 156, 67);
}

#arriba {
    padding: 8px 0 8px 0;
    list-style: none;
    color: #000000;
    background-color: rgba(95, 158, 160, 0.5);
    margin-right: 20px;
    border-radius: 5px;
}

#arriba:hover{
    padding: 10px 0 10px 0;
    background-color: white;
    border: grey 1px solid;
    filter: drop-shadow(0 0 1px #007BFF);
}

#arriba a:hover{
    color: rgb(112, 156, 67);
}

#calcular {
    width: 200px;
    background-color: rgba(112, 156, 67, 0.8);
    filter: drop-shadow(2px 2px 2px grey);
    border-color: grey;
}

#calcular:hover {
    border-color: #007BFF;
    background-color: rgba(82, 136, 27, 0.8);
    color: white;
    filter: drop-shadow(2px 2px 2px rgb(30, 0, 255));
    width: 220px;
}

.dolarblue {
    padding: 10px 50px;
    background-image: url('/src/dolar02.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 80%;
    margin: 50px auto;
    border-radius: 5px;
    border: grey 1px solid;
    filter: drop-shadow(0 0 2px grey);
}

.dolarblue h2 {
    color: white;
    background-color: #007BFF;
    border-radius: 5px;
    padding: 20px 0;
    margin: 10px 0;
}

.dolarblue div div div span {
    font-size: 1.5rem;
    text-align: center;
}

#dolarCompra,
#dolarVenta {
    color: #007BFF;
    filter: drop-shadow(0 0 2px rgba(82, 136, 27, 0.8));
    font-size: 2rem;
}

textarea {
    width: 640px;
    height: 320px;
    max-width: 1280px;
    max-height: 640px;
}

form input {
    width: 640px;
    max-width: 1280px;
}

form > * {
    padding: 15px 0;
    margin: 15px 0;
    border-radius: 5px;
    text-align: center;
}

input {
    text-align: center;
}

#enviar {
    width: 150px;
    height: 50px;
}

#enviar:hover {
    background-color: white;
    width: 160px;
}